@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .services-menu {
        flex-direction: column;
        align-items: center;
    }

    .menu-container {
        max-width: 100%;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ===== header ===== */

.header {
    background-color: #D6E3E6;
    padding: .5rem;
    border-bottom: 4px solid #E7C789;
}

.header-text {
    font-size: 0.9rem;
    color: #1E7A57;
    text-align: center;
    padding: 1rem;
}

/* ===== nav ===== */
nav {
    background-color: #1E7A57;
    margin-bottom: 1rem;
    border-bottom: 4px solid #E7C789;
}


.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-left: 2rem;
}

nav a {
    color: #F6F1E5;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2rem;
}

nav a:hover {
    color: #E7C789;
    text-decoration: underline;
}

/* ===== main ===== */

body {
    font-family: "Segoe UI", sans-serif;
    background-color: #F6F1E5;
    color: black;
}

/* ===== Headings ===== */
h1 {
    text-align: left;
    color: #1E7A57;
    margin: 1rem;
    padding-bottom: 1rem;

}

h2 {
    color: #EF7014;
    margin: 1rem;
}

/* ===== Text Content ===== */
p.main {
    margin-left: 1rem;
    padding: .5rem;
    margin-right: 2rem;
}

.why-us {
    padding-top: 1rem;
}

ul.services {
    max-width: 500px;
    margin-left: 5rem;
    margin-top: 1rem;
}

.our-process {
    margin-bottom: 2rem;
}

li.services {
    margin-bottom: 1rem;
}

/* ===== Images ===== */
.logo {
    display: block;
    margin: 1rem;
    border-radius: 8px;
    background-color: #D6E3E6;
    padding: 0.25rem;
}

.logo img {
    width: 100px;
    height: auto;
}

.logo-bottom {
    display: flex;
    justify-content: center;
    margin: 1rem;
    border-radius: 8px;
}

.logo-bottom img {
    width: 400px;
    height: auto;
    display: inline-block;
    background-color: #D6E3E6;
    padding: .5rem;
}


.pets-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.pets {
    display: inline-block;
    margin: 1rem;
    border-radius: 8px;
    background-color: #D6E3E6;
    padding: 1rem;
}

/* ===== Services List ===== */
ul.services {
    max-width: 500px;
    margin-left: 5rem;
}

li.services {
    margin-bottom: 1rem;
}

/* ===== Footer ===== */

.footer {
    background-color: #D6E3E6;
    padding: .5rem;
    border-top: 4px solid #E7C789;
    margin-top: 2rem;
}

.footer-text {
    font-size: 0.9rem;
    color: #1E7A57;
    text-align: center;
    padding: 1rem;
}

/* ===== button ===== */

.button-container-1 {
    display: flex;
    justify-content: left;
    margin: 2rem;
}

.button-container-2 {
    display: flex;
    justify-content: left;
    margin: 1rem;
}

.button {
    padding: .5rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: #D6E3E6;
    color: #1E7A57;
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px #999;
    font-weight: bold;
}

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* services menu */
.services-menu {
    display: flex;
    gap: 1.5rem;
    margin: 2rem;
}

.menu-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #D6E3E6;
    border-radius: 1rem;
    border-bottom: 4px solid #E7C789;
}

.menu-card {
    border-radius: 1rem;
    background-color: #D6E3E6;
    padding: .5rem;
}

.menu-card:hover {
    transform: translateY(-4px);
    transition: transform 0.2s ease;

}

.menu-title {
    padding-bottom: .5rem;
    color: #1E7A57;
}

.menu-body {
    border-radius: 1rem;
    padding-left: 1rem;
}

/*contact form */
section.contact-form {
    margin-bottom: 6rem;
}

.form-group {
    margin-left: .5rem;
    max-width: 600px;
    padding: 1rem;
}

label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: bold;
    color: #1E7A57;
}

input, select, textarea {
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #E7C789;
    border-radius: 8px;
    font-family: inherit;
}

.contact-form .button {
    margin-left: 1rem;
}

.form-note {
    margin: 1rem;
    font-size: 0.95rem;
    font-style: italic;
}