* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: #F6F1E5;
    color: black;
}

nav {
    background-color: #1E7A57;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 4px solid #E7C789;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    justify-content: left;
}

nav a {
    color: #F6F1E5;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    color: #E7C789;
}

/* ===== Headings ===== */
h1 {
    text-align: center;
    color: #1E7A57;
    margin-bottom: 1rem;
}

h2 {
    color: #EF7014;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding-left: 5rem;
}

/* ===== Images ===== */
.logo {
    display: block;
    margin: 1rem auto;
    border-radius: 8px;
    background-color: #D6E3E6;
    padding: 0.25rem;
}

.pets {
    display: inline-block;
    margin: 1rem;
    border-radius: 8px;
    background-color: #D6E3E6;
    padding: 0.25rem;
}

.pets-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

/* ===== Text Content ===== */
p {
    margin-left: 4rem;
    padding: 1rem;
}

/* ===== Services List ===== */
ul {
    max-width: 500px;
    margin-left: 10rem;
    padding: 1rem;
}

ul li {
    margin-bottom: 0.5rem;
}

/* ===== Footer ===== */
.footer1 {
    background-color: #D6E3E6;
    padding: 1rem;
    font-size: 0.9rem;
    color: #1E7A57;
    border-bottom: 4px solid #E7C789;
    text-align: center;
}

.footer2 {
    background-color: #D6E3E6;
    padding: 1rem;
    font-size: 0.9rem;
    color: #1E7A57;
    border-top: 4px solid #E7C789;
    text-align: center;
}